.Layout {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.QuoteBox {
  padding: 10px 15px 10px 15px;
  align-self: center;
  text-align: center;
  margin: auto;
  width: 25%;
}

#text {
  font-size: 30px;
  font-family: "Roboto";
  font-weight: 300;
}

#author {
  text-align: right;
  margin-top: 45px;
  font-size: 11px;
  font-weight: 400;
  font-family: "Roboto";
}
#new-quote {
}
#tweet-quote {
}
#facebook-quote {
}
